<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proffy | Sua plataforma de estudos online</title>
        
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" 
              rel="stylesheet">
    
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/partials/page-save-form.css">
    
        <title>Proffy</title>

        <script src="/scripts/success.js" defer></script>

    </head>
<body id="page-save-form">
    <div id="container">

        <div class="save-img">
           <img src="/images/icons/success-check-icon.svg" alt="Cadastro salvo">        
             </div>

             <div class="save-title">
                <strong>Cadastro salvo! </strong> 
             </div>
    
            <div class="save-content">
                <p>Tudo certo, seu cadastro está na nossa lista de professores. <br />
                    Agora é só ficar de olho no seu Whatsapp.
                </p>
            </div>

            
            <div class="buttons-container">
                <a id="study" class="study" href="/study?subject={{filters.subject}}&weekday={{filters.weekday}}&time={{filters.time}}">
                <img src="images/icons/study.svg" alt="Estudos">Acessar lista
                </a>
            </div>
     </div>
</body>
</html>